<div data-section-id="{{ section.id }}" data-section-type="custom-hero-section">
  <div class="custom-hero-section">
    <div class="hero-image">
      <img class="desktop-view" src="{{ section.settings.hero_desk_img | img_url: 'master' }}">
      <img class="mob-view" src="{{ section.settings.hero_mob_img | img_url: 'master' }}">
    </div>
    <div class="hero-content-wrapper">
      <div class="hero-content text-align-{{ section.settings.text_placement }}">
        <h1 class="hero-title">{{ section.settings.title }}</h1>
        <p class="hero-text">{{ section.settings.text }}</p>
        <div class="btn-wrapper">
          <a href="{{ section.settings.btn_link }}" class="hero-btn">{{ section.settings.btn_label }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
	  {
		"type": "image_picker",
		"id": "hero_desk_img",
		"label": "Hero Desktop Image"
	  },
	  {
		"type": "image_picker",
		"id": "hero_mob_img",
		"label": "Hero Mobile Image"
	  },
	  {
		"type": "select",
		"id": "text_placement",
		"label": "Text Placement",
		"default": "middle",
		"options": [
		  {
            "label": "Middle",
            "value": "middle"
		  },
		  {
            "label": "Left",
            "value": "left"
		  },
		  {
            "label": "Right",
            "value": "right"
		  }
		]
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "textarea",
		"id": "text",
		"label": "Text"
	  },
	  {
		"type": "text",
		"id": "btn_label",
		"label": "Button Label"
	  },
	  {
		"type": "url",
		"id": "btn_link",
		"label": "Button Label"
	  }
	],
	"presets": [
	  {
		"name": "Hero Component",
		"category": "Image"
	  }
	]
  }
{% endschema %}

{% stylesheet %}

.mob-view {
  display: none !important;
}

.custom-hero-section {
  position: relative;
}

.custom-hero-section .hero-image img {
  display: block;
  margin: auto;
}

.custom-hero-section .hero-content-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: auto;
}

.custom-hero-section .hero-content-wrapper .hero-content {
  max-width: 1440px;
  margin: auto;
  padding: 0 78px;
  text-align: center;
}

.custom-hero-section .hero-content-wrapper .hero-content .hero-title {
  color: #fff;
  max-width: 50%;
  margin: auto;
  font-size: 46px;
  line-height: 42px;
  margin-bottom: 20px;
}

.custom-hero-section .hero-content-wrapper .hero-content .hero-text {
  color: #fff;
  max-width: 50%;
  margin: auto;
  font-size: 24px;
  line-height: 42px;
}

.custom-hero-section .hero-content-wrapper .hero-content .btn-wrapper {
  max-width: 50%;
  margin: auto;
}

.custom-hero-section .hero-content-wrapper .hero-content .btn-wrapper .hero-btn {
  background-color: #57AD68;
  color: #fff;
  padding: 15px 50px;
  border-radius: 100px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 20px;
}

.custom-hero-section .hero-content-wrapper .hero-content .hero-btn:hover {
  color: #57AD68;
  background-color: #fff;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-right, .custom-hero-section .hero-content-wrapper .hero-content.text-align-left {
  text-align: left;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-right .hero-title {
  margin-right: 0;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-right .hero-text {
  margin-right: 0;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-right .btn-wrapper {
  margin-right: 0;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-left .hero-title {
  margin-left: 0;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-left .hero-text {
  margin-left: 0;
}

.custom-hero-section .hero-content-wrapper .hero-content.text-align-left .btn-wrapper {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {

.mob-view {
  display: block !important;
}

.desktop-view {
  display: none !important;
}

.custom-hero-section .hero-content-wrapper .hero-content {
  padding: 0 30px;
  text-align: center !important;
}

.custom-hero-section .hero-content-wrapper .hero-content .hero-title {
  font-size: 36px;
  max-width: 100%;
}

.custom-hero-section .hero-content-wrapper .hero-content .hero-text {
  font-size: 18px;
  max-width: 100%;
  line-height: 30px;
}

.custom-hero-section .hero-content-wrapper .hero-content .btn-wrapper {
  max-width: 100%;
}

}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
